<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>257505242342-ierobjbve5s01lu0p5g4arvbru56vseq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257505242342-ierobjbve5s01lu0p5g4arvbru56vseq</string>
	<key>API_KEY</key>
	<string>AIzaSyBGyPGtiujFzY0NGJFk5C-FCVg_TD2idIE</string>
	<key>GCM_SENDER_ID</key>
	<string>257505242342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ischool.chimney</string>
	<key>PROJECT_ID</key>
	<string>capstoneproject-cfc6a</string>
	<key>STORAGE_BUCKET</key>
	<string>capstoneproject-cfc6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257505242342:ios:4339870fa42af7a9</string>
	<key>DATABASE_URL</key>
	<string>https://capstoneproject-cfc6a.firebaseio.com</string>
</dict>
</plist>